@media only screen and (max-device-width: 480px) {
    body[class=suppress-border-on-mobile] {
        margin: 0 !important;
        border: 0 !important;
        padding: 0 !important;
    }
    table[class=suppress-on-mobile], td[class=suppress-on-mobile], div[class=suppress-on-mobile], img[class=suppress-on-mobile], span[class=suppress-on-mobile] {
        display: none !important;
        width: 0px !important;
        height: 0px !important;
        line-height: 0px !important;
        margin: 0 !important;
        border: 0 !important;
        padding: 0 !important;
    }
}
html {
	width: 100%;
	height: 100%;
	overflow: scroll;
}
body {
    color: #AAAAAA;
	font-family: Arial, Helvetica, sans-serif;
	background: #EEEEEE;
	font-size: 11px;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 98%;
}
a {
	color: #333333;
}
a img {
	border:none;
}
footer {
	padding-top: 40px;
    padding-bottom: 20px;
	width: 100%;
	clear: both;
	position: relative;
	z-index: 10;
	color: #A8A8A8;
	text-align: center;
}
footer a {
	text-decoration: none;
	color: #A8A8A8;
}
footer .setup {
	display: block;
	cursor: pointer;
	height: 10px;
	width: 10px;
	float: left;
	padding-left: 6px
}
button {

}
/*Cards*/
.kafejnow {
	min-width: 400px;
	height: 96%;
	min-height: 96%;
	height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 6em;
}
.kafejnow .card {
	margin-top: 10px;
	background: #FFFFFF;
	text-align: center;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	-moz-box-shadow: 2px 2px 1px #AEAEAE;
	-webkit-box-shadow: 2px 2px 1px #AEAEAE;
	box-shadow: 2px 2px 1px #AEAEAE;
}
.cardtitle{
	margin-top: -16px;
	float: left;
	font-size: 14px;
	color: #DFDFDF;
}
.flickrtags {
	margin-top: -16px;
	margin-right: 50px;
	font-size: 14px;
	color: #AAAAAA;
	padding-bottom: 8px;
}
/*Flickr Feed*/
.flickr {
	display: block;
	min-width: 400px;
}
.flickr a {
	text-align: center;
	display: block;
}
.close {
	background-image:url(../img/close3.png);
	float: right;
	width: 19px;
	margin-top: -14px;
	height: 18px;
	cursor: pointer;
}
.close:hover {
	background-image:url(../img/close2.png);
	display: block;
	width: 19px;
	height: 18px;
}
.close2 {
    background-image:url(../img/close3.png);
    float: right;
    width: 19px;
    margin-top: -14px;
    height: 18px;
    cursor: pointer;
}
.close2:hover {
    background-image:url(../img/close2.png);
    display: block;
    width: 19px;
    height: 18px;
}
/*Example card*/
.example {
    clear: both;
    width: 100%;
	font-size: 24px;
	font-weight: bold;
	color: #9F9F9F;
}
/*Twitter Feed*/
#loading-container {
    text-align:center;
}
#twitter-feed {
    width:350px;
    margin:auto;
    font-family: Arial, Helvetica, sans-serif;
    padding:8px 10px 5px 10px;
    border-radius:12px;
    background-color:#FFF;
    color:#333;
    overflow:auto;
}
#twitter-feed h1 {
    color:#5F5F5F;
    padding:4px 0px 9px 0px;
    font-size:18px;
    font-weight:lighter;   
}
.twitter-article, #loading-container {
    width:100%;
    border-top:1px dotted #CCC;
    float:left;
    padding:8px 0px 8px 0px;
    position:relative;
}
.twitter-pic {
    position:absolute;
}
.twitter-pic img {
    float:left;
    border-radius:7px; 
    border:none;    
}
/* -------- TEXT STYLING ------*/
.twitter-text {
    width:100%;
    float:left;
    font-size:11px;
    padding-left:52px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.twitter-text p {
    margin:0px;
    line-height:15px;  
}
.twitter-text a,  h1 a {
    color: #00acee;
    text-decoration: none;
}
.twitter-text a:hover,  h1 a:hover {
    text-decoration: underline;
    color: #00acee;
}
.tweet-time {
    font-size:10px;
    color:#878787;
    float:right;
}
.tweet-time a, .tweet-time a:hover {
    color:#878787;
}
.tweetprofilelink a {
    color:#444;
}
.tweetprofilelink a:hover {
    color:#444;
}
/* -------- FEED  ACTIONS ------*/
#twitter-actions {
    width:75px;
    float:right;
    margin-right:5px;  
    margin-top:6px;
    display:block;
}
.intent {
    width:25px;
    height:16px;
    float:left;
}
.intent a{
    width:25px;
    height:16px;
    display:block;
    background-image:url(../img/tweet-actions.png);
    float:left;
}
.intent a:hover{
    background-position:-25px 0px;
}
  
#intent-retweet a{
    background-position:0px -17px;
}
#intent-retweet a:hover{
    background-position:-25px -17px;
}
#intent-fave a{
    background-position:0px -36px;
}
#intent-fave a:hover{
    background-position:-25px -36px;
}
/* -------- RETWEET INDICATOR ------*/
#retweet-indicator {
    width:14px;
    height:10px;
    background-image:url(../img/tweet-actions.png);
    background-position:-5px -54px;
    margin-top:3px;
    float:left;
}
/*Weather*/
.weatherFeed {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.weatherFeed a { color: #AAAAAA; }
.weatherFeed a:hover {
    color: #AAAAAA;
    text-decoration: none;
}
.weatherItem {
    padding: 0.8em;
    text-align: right;
}
.weatherCity { text-transform: uppercase; }
.weatherTemp {
    font-size: 2.8em;
    font-weight: bold;
}
#weatherList {
    color: #AAAAAA;
    font-size: 16px;
}
.weatherDesc, .weatherCity, .weatherForecastDay  { font-weight: bold;  }
.weatherDesc { margin-bottom: 0.4em; }
.weatherRange, .weatherWind, .weatherLink, .weatherForecastItem { font-size: 0.8em; }
.weatherLink, .weatherForecastItem {
    margin-top: 0.5em;
    text-align: left;
}
.weatherForecastItem {
    padding: 0.5em 0.5em 0.5em 80px;
    background-color: #fff;
    background-position: left center;
}
.weatherForecastDay { font-size: 1.1em; }
.odd {}
.even {}
/*Clock*/
#time{
    display: inline;
    clear: both;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    color: #9F9F9F;
}
/*Settings*/
#settings {
    margin-top: 10px;
    background: #FFFFFF;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    -moz-box-shadow: 2px 2px 1px #AEAEAE;
    -webkit-box-shadow: 2px 2px 1px #AEAEAE;
    box-shadow: 2px 2px 1px #AEAEAE;
    display: block;
    font-size: 14px;
}
form {
    display: block;
    padding-bottom: 40px;
    font-size: 24px;
}
form label {
    display: block;
    padding-top: 10px;
    text-align: left;
    color: #AAAAAA;
    font-weight: bold;
}
form input, select {
    margin-right: 20px;
    margin-top: -26px;
    text-align: left;
    float: right;
    color: #AAAAAA;
    font-weight: bold;
    border: 2px solid #B0B0B0;
    border: inset 1px solid #B0B0B0;
}
#settingsbutton {
    margin-top: 20px;
    cursor: pointer;
    display: block;
}
#morecards {
    font-size: 16px;
    cursor: pointer;
}
/*ToDo list*/
#todoa {
    font-size: 24px;
    text-align: left;
}
#todomain {
    margin-top: -50px;
    margin-left: -40px
}
#todomain li {
    list-style-type: none;
}
#special {
    margin-top: 2px;
    padding-right: 4px;
    float: left;
}